.switch-theme img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.switch-theme img:hover {
    animation: themeAnimation 2s linear infinite;
}

@keyframes themeAnimation {
    0% { transform: rotate(0deg) }
    50% { transform: rotate(180deg) }
    100% { transform: rotate(360deg) }
}