.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.logo img {
    width: 42px;
    filter: invert(100%);
}

.logo strong {
    color: #fff;
    text-transform: uppercase;
    line-height: 18px;
    font-size: 16px;
    font-weight: 900;
}